.active_btn {
  background-color: deepskyblue !important;
}
.btn {
  border: 1px solid whitesmoke !important;
}
.btn:focus {
  box-shadow: none !important;
  /* outline: thin dotted !important; */
}
.search_btn {
  margin-top: 0.5rem;
  background-color: #eee !important;
  width: 100%;
}
.search_btn:hover,
.search_btn:focus {
  background-color: deepskyblue !important;
}
#ticket_card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input-range__label-container {
  color: black;
}
.input-range__label--max > .input-range__label-container {
  margin-right: 2rem;
}
